# Object files
*.o
*.ko
*.obj
*.elf
*.slo
*.lo

# Libraries
*.lib
*.ai
*.lai
*.la
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Haskell miscellanea
cabal-dev
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
